@charset "UTF-8";
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Geometria', sans-serif;
    background-color: #ebf1ff;
}

@font-face {
    font-family: "Geometria";
    src: local("../fonts/Geometria Regular"), local("Geometria-Regular"), url("../fonts/Geometria-Regular.woff2") format("woff2"), url("../fonts/Geometria-Regular.woff") format("woff"), url("../fonts/Geometria-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Geometria";
    src: local("../fonts/Geometria Medium"), local("Geometria-Medium"), url("../fonts/Geometria-Medium.woff2") format("woff2"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Geometria";
    src: local("../fonts/Geometria Bold"), local("Geometria-Bold"), url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
header {
    width: 100%;
    background: url("../images/lk/Rectangle-13.svg"), url("../images/lk/Rectangle-13.svg"), url("../images/lk/Rectangle-12.svg"), url("../images/lk/Rectangle-140.svg");
    background-repeat: no-repeat;
    background-position-x: center, center, center, center;
    background-position-y: center, center, center, center;
    background-size: cover, cover, cover, cover;
    position: relative;
    -webkit-animation: wave-top 8s infinite alternate ease-in-out;
            animation: wave-top 8s infinite alternate ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
@-webkit-keyframes wave-top {
    0% {
        background-position-x: 10%, 90%, 0%, 80%;
    }
    50% {
        background-position-x: 50%, 30%, 50%, 80%;
    }
    100% {
        background-position-x: 10%, 10%, 100%, 80%;
    }
}

@keyframes wave-top {
    0% {
        background-position-x: 10%, 90%, 0%, 80%;
    }
    50% {
        background-position-x: 50%, 30%, 50%, 80%;
    }
    100% {
        background-position-x: 10%, 10%, 100%, 80%;
    }
}

.container{--bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    width:100%;
    max-width: 1440px;
    padding-right:calc(var(--bs-gutter-x) * .5);
    padding-left:calc(var(--bs-gutter-x) * .5);
    margin-right:auto;
    margin-left:auto}
@media (min-width:576px){.container,.container-sm{max-width:540px}}
 @media (min-width:768px){.container{max-width:720px}}
 @media (min-width:992px){.container{max-width:960px}}
 @media (min-width:1200px){.container{max-width:1140px}}
 @media (min-width:1400px){.container{max-width:1320px}}
 @media (min-width:1440px){.container{max-width:1440px}}
 .col-3{flex:0 0 auto;width:24%}
.top-section, .bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}
.menu-icon {
    display: none;
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.header__logo {
    font-size: 0;
    flex-shrink: 0;
    }

.nav-container {
    display: flex;
    align-items: center;
    gap: 25px;
    /* padding: 10px; */
    cursor: pointer;
    overflow: hidden;

}
.menu-items {
    display: flex;
    gap: 20px;
}
.menu-item {
    display: flex;
    align-items: center;
    padding: 11px 18px;
    border-radius: 100px;
    gap: 8px;
    transition: background 0.3s;
}
.menu-item:hover {
    background: rgba(255, 255, 255, 0.1);
}
.menu-item.active {
    background: rgba(255, 255, 255, 0.1);
}
.menu-text {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
}
.notification-container {
    margin-top: 4px;
    position: relative;
    margin-left: auto;
}
.notification-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background: #67a1ff;
    color: #fff;
    border-radius: 7px;
    padding: 2px 5px;
    font-size: 9.33px;
    font-weight: 700;
}
.user-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-email {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.avatar-container {
    width: 40px;
    height: 40px;
}
.dropdown-arrow {
    width: 14px;
    height: 7px;
    margin-left: 0 10px;
}
.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4285f4;
    border-radius: 100px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    /* background-color: #3367d6; */
    box-shadow: 0 10px 40px rgba(79, 146, 255, 0.5);
}

.login-button span {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    margin-right: 10px;
}

.login-button img {
    width: 19px;
    height: 19px;
}
.breadcrumbs {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 0 20px;
    height: 50px;
    gap: 10px;
    flex-grow: 1;
    margin: 0 20px;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    line-height: 60px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.breadcrumb-item:hover {
    opacity: 0.8;
}

.breadcrumb-item.active {
    font-weight: 700;
    color: rgba(166, 172, 195, 0.4);
}

.breadcrumb-item.inactive {
    font-weight: 500;
    color: #A6ACC3;
}

.breadcrumb-separator {
    width: 10px;
    height: 11px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.breadcrumb-separator img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.user-popup {
    display: none;
    position: absolute;
    top: 60px; /* Расположить под блоком */
    /* right: 0; */
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
}
.popup-link {
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
}
.popup-link:hover {
    color: #007BFF;
}
.popup-button {
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
    font-size: 16px;
}
.popup-button:hover {
    text-decoration: underline;
}
.wallet {
    display: inline-flex;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    padding: 15px 20px;
    cursor: pointer;
    gap: 10px;
    margin-right: 20px;
    position: relative;
}
.wallet:hover {

    background: #67A1FF;
}
.wallet img {
    width: 19px;
    height: 19px;
}
.wallet span {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 10px;
}
.wallet-popup {
    display: none;
    position: absolute;
    width: 190px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    top: 60px;
    right: 0;
}

.wallet-popup-content {
    width: 160px;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wallet-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 23px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Geometria, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.wallet-button img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.wallet-button-blue {
    background: #67a1ff;
    color: #ffffff;
}

.wallet-button-white {
    background: #ffffff;
    border: 1px solid #67a1ff;
}
.wallet-button-white span{

    color: #000000;
}

/* Hover effects */
.wallet-button-blue:hover {
    background: #5691ff;
}

.wallet-button-white:hover {
    background: #f5f8ff;
}

/* Active effects */
.wallet-button-blue:active {
    background: #4581ff;
}

.wallet-button-white:active {
    background: #e5eeff;
}
/* mobile menu */
.mobile-menu{
    display: none;
    max-width: 555px;
}
.mobile-menu.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    overflow-y: auto;
    height: calc(100vh - 70px);
    background-color: #fff;
    z-index: 1000;
}
.overlay {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2B0B60E8;
    display: none;
    z-index: 10; /* Ensure it is above other elements */
}

.balance-container {
    display: flex;
    flex-direction: column;
    background-color: #ebf1ff;
    width: 543px;
    height: 120px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.deposit-button, .withdraw-button {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;
    width: 246px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.deposit-button {
    background-color: #67a1ff;
}
.withdraw-button {
    border: 1px solid #67a1ff;
}
.deposit-button:hover, .withdraw-button:hover {
    opacity: 0.9;
}
.withdraw-button:hover {
    background-color: #f5f8ff;
}
.balance-display {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    background-color: #67a1ff33;
    border-radius: 20px;
    align-items: center;
    width: 503px;
    box-sizing: border-box;
    height: 40px;
    justify-content: center;
    margin: 0 auto;
}
.balance-icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
span {
    font-weight: 500;
    font-size: 14px;
    /* text-transform: lowercase; */
}
.balance-display span {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 60px;
    color: #000000;
    margin-left: 10px;
}

.menu-container {
    width: 518px;
    margin-left: 5px;
    padding: 30px 0;
  color: #727272;
}
.m-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.m-menu-item.active{
    background: #ebf1ff;
}
.icon-container{
    width: 39px;
    height: 39px;
    background: #f1f4ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
}
.icon-container.active{
    background: #67A1FF;
}
.icon-container img{
    width: 18px; height: 18px;
}
.m-menu-text{
    margin-left: 10px;
     font-size: 16px;
      font-weight: 500;
      line-height: 28px;
      color: #000000;
}
.m-divider{
    /* width: 508px; */
    /* width: 100%; */
     height: 1px;
      background: #f1f4ff;
       margin: 10px 0;
}
.menu-icon-visible {
    display: block;
}
.close-icon-hidden {
    display: none;
}
.m-menus{
    margin: 10px 20px;
}
.m-menus .menu-item{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 12px;
    padding: 3.5px 0;
    align-items: center;
    cursor: pointer;
}
.m-menus img{
    width: 19px;
    height: 19px;
}
.m-menus span{
    font-size: 16px;
     line-height: 25px;
      color: #727272;
}
/* .nav-footer{
    position: absolute;
    bottom: 0;
} */
.nav-footer .container{
    padding: 10px 15px;
    /* width: 523px; */
}

/* after menu */
.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
}
main{
    display: block;
    padding: 0 0 125px 0;
}
main .container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
}
.help-block {
    /* width: 298px; */
    padding: 17px 20px 20px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.help-block .image-container {
    width: 126px;
    height: 188px;
    margin-bottom: 10px;
}

.help-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.help-block .text {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.help-button {
    width: 230px;
    height: 50px;
    background-color: #4285f4;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.help-button:hover {
    background-color: #3367d6;
}

.help-button:active {
    transform: scale(0.98);
}
.left-menu {
    width: 24%; /* Ширина без padding */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Отступы между элементами */
    flex:0 0 auto
}
.sidebar-menu{
    margin-top: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px 8px;
}
.sidebar-item {
    border-radius: 10px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sidebar-item:hover{
    background-color: #EBF1FF;
}
.sidebar-item .icon {
    width: 39px;
    height: 39px;
    background-color: #f1f4ff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-item img {
    width: 18px;
    height: 18px;
}

.sidebar-item span {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.divider {
    width: 298px;
    height: 1px;
    background-color: #f1f4ff;
    border: none;
    margin: 5px auto;
}
/* main content */
.block {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 29px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 17px;
}
.active-block{
    opacity: 100%;
}
.block:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}
.icon {
    width: 70px;
    height: 70px;
}
.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-top: 15px;
}
.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #727272;
    margin-top: 5px;
}
.number {
    width: 84px;
    height: 18px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 20px;
}
footer{
    background-color: #FFFFFF;

}
footer .divider{
    background-color: #ebf1ff;
    width: 100%;
    height: 1px;
}
.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.footer-links a {
    color: #666;
    font-size: 14px;
}

.footer-links a:hover {
    color: #000;
}
.copyright{
    color: #727272;
    font-size: 13px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width:1444px){

    .menu-items{
        gap: 1px;
        padding: 6px 12px;
    }
}
@media (max-width: 1330px) {

    .menu-items {
      padding: 6px 1px;
    }
    .menu-item {
        padding: 6px 10px;
    }
  }
@media (max-width: 1200px) {

    .bottom-section {
        flex-wrap: wrap;
        gap: 10px;
    }
    /* .login-button {
        width: 300px;
      } */
      .left-menu {
        width: 300px;
      }
}
@media (max-width: 1100px) {
    .menu-icon {
        display: flex;
    }
    .menu-items {
        display: none;
    }
    .breadcrumbs{
        display: none;
    }
}
@media (max-width: 992px) {
    header{
    background:#6615E9;
    background-size: auto;
    height: 70px;
    padding:5px 0;
    }
    .container {

        padding: 0 20px; /* Уменьшаем отступы */
    }
    main .container {
        flex-direction: column;
    }
    .left-menu {
        display: none;
    }
    .bottom-section{
        display: none;
    }
  .user-email{
    display: none;
  }
  .dropdown-arrow{
    display: none;
  }
  .main-content{
    padding: 20px 0;
  }
  footer{
    display: none;
  }
  .footer-links {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.footer-links a {
    color: #727272;
    font-size: 14px;
}
.footer-links a:hover {
    text-decoration: underline;
}
.copyright{
    line-height: 30px;
}
}
@media (max-width: 768px) {
    /* .container {
        max-width: 720px;
        padding: 0 10px;
    } */

    header {
        background-size: auto;
    }
    .header__logo {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        max-width: 175px;
    }
    .breadcrumbs {
        display: none;
    }
    .main-content {
        grid-template-columns: 1fr;
    }
    .notification-container{
        display: none;
    }
}
@media (max-width: 546px) {
    .col-3 {
        flex: 1 0 auto;
    }
    .mobile-menu{
        max-width: 324px;
        overflow: auto;
    }
    .balance-container {
        width: 324px;
        padding: 10px 0;
    }
    .deposit-button, .withdraw-button{
        width: 142px;
    }
    .balance-display{
        width: 294px;
    }
    .menu-container{
        width: 304px;
        padding: 10px 0;
    }
    .m-menu-item {
        margin-bottom: 2px;
    }
    .m-divider{
        margin: 2px 0;
    }
    .m-menus .menu-item{
        margin-top: 10px;
    }
    .nav-footer{
        position: relative;
    }
}
.security-block .number {
    background: #67A1FF;
}
.verification-block .number {
    background: #FAD202;
}
.keywords-block .number {
    background: #6c1ded;
}
.confirmation-block .number {
    background: #ff7070;
}
