@import url('./home.css');


.profile-header {
    background: linear-gradient(152deg, #90baff 0%, #67a1ff 100%);
    color: var(--color-text);
    padding: 40px 0 30px 0;
}

.profile-header__container {
    max-width: 1400px;
    padding: 0;
    margin: 0 0 0 auto;
}

.profile__container {
    max-width: 1480px;
    padding: 0 20px 70px;
    margin: 0 auto;
}

.user-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-nav__list {
    display: flex;
    align-items: var(--center);
    gap: 5px;
    margin-right: 20px;
    margin-left: auto;
}

.user-nav__list__item {}

.nav__list__item__link {
    display: var(--flex);
    align-items: var(--center);
    gap: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 40px;
}

.nav__list__item__link.active {
    background-color: #92bbffd4;
}

.nav-bell-box {
    margin-right: 30px;
}

.nav-bell-box.notification svg circle {
    fill: rgb(102, 21, 233);
}

.nav-user-box {
    display: flex;
    align-items: center;
    gap: 10px;

    overflow: hidden;
}

.user-avatar-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;
}

.nav-user-select {
    outline: none;
    background-color: transparent;
    border: none;
    color: inherit;
    font-weight: inherit;


    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-user-select::-ms-expand {
    display: none;
}

.header-other-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.add-task-btn {
    background: var(--gradient-bg);
    border: none;
    color: var(--color-text);
    text-align: center;
    line-height: 50px;
    padding: 0 10px;
    font-size: 1rem;
    flex: 0 1 19%;
    text-wrap: nowrap;

    span::after {
        content: url('../images/add.svg');
        margin-left: 10px;
        position: relative;
        bottom: -5px;
    }
}


.breadcrumbs__item {
    opacity: 0.6;
}

.breadcrumbs__item:not(.current)::after {
    content: url('../images/next.png');
    margin: 0 10px;
}

.breadcrumbs__item.current {
    opacity: 1;
}

.count__box {
    background: var(--gradient-bg);
    color: var(--color-text);
    text-align: center;
    line-height: 50px;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 500;
    flex: 0 1 10%;
    text-wrap: nowrap;

}

.count::before {
    content: url('../images/coins.svg');
    position: relative;
    left: -10px;
    top: 5px;
}

.profile__main {
    background-color: #ebf1ff;
}

.profile__content {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}

.sidebar {
    flex: 0 0 338px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-aside {
    width: 30%;
    padding: 15px 15px 15px 0;
}

/* .profile__content .grid {
    width: 100%;
    padding: 0 0 0 15px;
} */
.profile__main__content {
    grid-template-columns: repeat(3, 1fr);
}
.profile__content__card {
    background-color: #fff;
    height: 100%;

    padding: 31px 10px 50px;
    position: relative;
}

.profile__card__title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20px;

}

.profile__card__desc {
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    line-height: 21px;
    margin-top: 15px;
}

.profile__card__num {
    width: 84px;
    color: var(--color-text);
    background-color: red;
    font-size: 0.75rem;
    line-height: 21px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.profile__card__num-1 {
    background-color: #67A1FF;
}

.profile__card__num-2 {
    background-color: #FAD202;
}

.profile__card__num-3 {
    background-color: #6C1DED;
}

.profile__card__num-4 {
    background-color: #5EC221;
}

.profile__card__num-5 {
    background-color: #FF7070;
}

.aside__list,
.aside__box__help {
    background-color: #fff;
    height: auto;
    padding: 5px 0;
    text-align: start;

}

.aside__box__help {
    padding: 20px 30px;
    text-align: center;
}
.aside__box__help > * + * {
    margin-top: 30px;
}

.aside__list__item {
    padding: 15px 30px;
    border-bottom: 1px solid #F2F2F2;
}

.aside__list__item:last-child {
    border: none
}

.aside__item__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.aside__item__title {
    font-size: 1.25rem;
    font-weight: 500;
}

.aside__list__icon__box {
    width: 36px;
    height: 36px;
}

.aside__list__icon {}
.help__title {
    font-size: 1.25rem;
}

.help__btn {
    border-radius: 10px;
    color: var(--color-text);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) -134%, rgba(103, 161, 255, 1) 100%);
    line-height: 50px;
    width: 100%;
    font-weight: var(--font-weight-main);
    margin-top: 30px;
}
.profile__footer {
    font-size: 16px;
    font-weight: 500;
    color: #727272;
}
.profile__footer .footer__nav__list {
    justify-content: space-between;
    max-width: 800px;
}
.profile__footer .license {
    text-align: start;
    margin-top: 0;
}
