html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -moz-appearance: textfield;
       appearance: textfield;
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Unbounded", sans-serif;
  src: url("../fonts/Unbounded-Bold.woff2") format("woff2"), url("../fonts/Unbounded-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Geometria";
  src: local("../fonts/Geometria Regular"), local("Geometria-Regular"), url("../fonts/Geometria-Regular.woff2") format("woff2"), url("../fonts/Geometria-Regular.woff") format("woff"), url("../fonts/Geometria-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: local("../fonts/Geometria Medium"), local("Geometria-Medium"), url("../fonts/Geometria-Medium.woff2") format("woff2"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: local("../fonts/Geometria Bold"), local("Geometria-Bold"), url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: local("../fonts/Geometria ExtraBold"), local("Geometria-ExtraBold"), url("../fonts/Geometria-ExtraBold.woff2") format("woff2"), url("../fonts/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Unbounded";
  src: local("../fonts/Unbounded Bold"), local("Unbounded-Bold"), url("../fonts/Unbounded-Bold.woff2") format("woff2"), url("../fonts/Unbounded-Bold.woff") format("woff"), url("../fonts/Unbounded-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Unbounded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
  font-family: "Geometria", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.company__name {
  font-size: 1.25rem;
  font-family: "Unbounded", sans-serif;
}

.btn {
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .btn {
    font-size: 1.14285rem;
  }
}

.btn__payment {
  border-radius: 10px;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .btn__payment {
    font-size: 1.14285rem;
  }
}
@media (max-width: 425px) {
  .btn__payment {
    font-size: 1rem;
  }
}

.btn__payment-cancel {
  background: radial-gradient(60.91% 58.88% at 50% 50%, rgb(255, 167, 167) 0%, rgb(255, 103, 103) 100%);
}

.btn__payment-success {
  background: radial-gradient(circle, rgb(255, 255, 255) -134%, rgb(103, 161, 255) 100%);
}

.main__btn {
  border: none;
  border-radius: 100px;
  font-size: 1.5625rem;
  max-width: 320px;
  line-height: 204%;
  padding: 17px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 50px 0 0 0;
}
@media (max-width: 768px) {
  .main__btn {
    font-size: 1.4285rem;
    padding: 8px 20px;
    max-width: 68%;
  }
}
@media (max-width: 400px) {
  .main__btn {
    max-width: 90%;
  }
}

.main__btn-grad {
  background: radial-gradient(50% 50% at 50% 50%, rgb(120, 37, 255) 0%, rgb(102, 21, 233) 100%);
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.main__btn-grad:hover {
  background: radial-gradient(50% 50% at 50% 50%, rgb(120, 37, 255) 200%, rgb(102, 21, 233) 100%);
}
@media (max-width: 1200px) {
  .main__btn-grad {
    margin: 50px auto;
  }
}

.main__btn__arrow {
  vertical-align: middle;
}

.card {
  border-radius: 40px;
  text-align: center;
}

.item {
  padding: 15px;
}
@media (max-width: 768px) {
  .item {
    padding: 10px;
  }
}

.main__item {
  width: 25%;
}

.second__item {
  width: 33.3333333333%;
}

.section {
  padding: 140px 0 0;
}
@media (max-width: 768px) {
  .section {
    padding: 60px 0 0;
  }
}

.section__logo__box {
  background: url("../images/section-logo-box.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 106px;
  height: 106px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subtitle {
  font-size: 2.5rem;
  text-align: center;
  margin: 40px auto 0;
  max-width: 50%;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 2.1428rem;
    margin-top: 20px;
    max-width: 100%;
  }
}

.flex {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  display: grid;
  gap: 30px;
}
@media (max-width: 600px) {
  .grid {
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  body,
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .section__logo__box {
    width: 66px;
    height: 66px;
  }
  .section__logo__box {
    background-size: cover;
    border-radius: 18px;
  }
  .section__logo__box img {
    max-width: 48%;
  }
}
.swiper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 705px;
          flex: 1 1 705px;
}

.bold {
  font-weight: 700;
}

.container {
  max-width: 1500px;
  padding: 0 30px;
  margin: 0 auto;
}

.mobile__list__img__box, .mobile__count__box, .keywords__settings__nums, .nav-user-select, .user-avatar-box, .user-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.payment__timer__time, .ticket__download__label::before, .ticket-info input {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.profile-header {
  background: linear-gradient(152deg, #90baff 0%, #67a1ff 100%);
  color: #fff;
  display: block;
  padding: 40px 0 30px 0;
}
@media (max-width: 1024px) {
  .profile-header {
    display: none;
  }
}

.profile__container {
  max-width: 1480px;
  padding: 0 20px 70px;
  margin: 0 auto;
}

.profile-header__container {
  max-width: 1410px;
  margin: 0 0 0 auto;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.user-nav__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  margin: 0 10px 0 auto;
}

.nav__list__item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 40px;
}

.nav__list__item__link.active {
  background-color: rgba(146, 187, 255, 0.831372549);
}

.nav-bell-box {
  margin-right: 20px;
}
.nav-bell-box svg.notification circle {
  fill: rgb(102, 21, 233);
}

.nav-user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.user-avatar-box {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
}

.nav-user-select {
  cursor: pointer;
}
.nav-user-select p {
  width: 138px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.selected {
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.options {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 1;
  width: 100%;
  overflow: hidden;
}
.options span {
  padding: 10px;
  display: block;
  cursor: pointer;
}
.options span:hover {
  background: linear-gradient(152deg, #90baff 0%, #67a1ff 100%);
}

.header-other-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.add-task-btn {
  background: radial-gradient(50% 50% at 50% 50%, rgb(120, 37, 255) 0%, rgb(102, 21, 233) 100%);
  border: none;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;
  font-size: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 19%;
          flex: 0 1 19%;
  text-wrap: nowrap;
}
.add-task-btn span::after {
  content: url("../images/add.svg");
  margin-left: 10px;
  position: relative;
  bottom: -5px;
}



.breadcrumbs__item {
  opacity: 0.6;
}

.breadcrumbs__item:not(.current)::after {
  content: url("../images/next.png");
  margin: 0 10px;
}

.breadcrumbs__item.current {
  opacity: 1;
}

.count__box {
  background: radial-gradient(50% 50% at 50% 50%, rgb(120, 37, 255) 0%, rgb(102, 21, 233) 100%);
  color: #fff;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 500;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  text-wrap: nowrap;
}

.count::before {
  content: url("../images/coins.svg");
  position: relative;
  left: -10px;
  top: 5px;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.company__logo__box {
  width: 51px;
  height: 51px;
}

.company__name {
  font-size: 1.25rem;
  font-family: "Unbounded", sans-serif;
}

@media (max-width: 768px) {
  .company__name {
    font-size: 0.84rem;
  }
  .company__logo__box {
    width: 30px;
    height: 30px;
  }
}
.profile__main {
  background-color: #ebf1ff;
}
@media (max-width: 1024px) {
  .profile__main {
    margin-top: 40px;
  }
}

.profile__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 30px 0;
}

.main__content__link:visited {
  opacity: 0.4;
}

.profile__main__content {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1200px) {
  .profile__main__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .profile__main__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

.profile__content__card {
  background-color: #fff;
  height: 100%;
  padding: 31px 10px 50px;
  position: relative;
}
.profile__content__card.visited {
  -webkit-filter: opacity(0.4);
          filter: opacity(0.4);
}
.profile__content__card:hover {
  -webkit-box-shadow: 0 20px 50px 0 rgba(125, 175, 255, 0.24);
          box-shadow: 0 20px 50px 0 rgba(125, 175, 255, 0.24);
}

.profile__card__title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .profile__card__title {
    font-size: 1.42857rem;
  }
}

.profile__card__desc {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
  line-height: 21px;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .profile__card__desc {
    font-size: 1.14285rem;
  }
}

.profile__card__num {
  width: 84px;
  color: #fff;
  font-size: 0.75rem;
  line-height: 21px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.profile__card__num-1 {
  background-color: #67A1FF;
}

.profile__card__num-2 {
  background-color: #FAD202;
}

.profile__card__num-3 {
  background-color: #6C1DED;
}

.profile__card__num-4 {
  background-color: #5EC221;
}

.profile__card__num-5 {
  background-color: #FF7070;
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 338px;
          flex: 0 0 338px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

.aside__list,
.aside__box__help {
  background-color: #fff;
  height: auto;
  padding: 5px 0;
  text-align: start;
}

.aside__box__help {
  padding: 20px 30px;
  text-align: center;
}

.aside__box__help > * + * {
  margin-top: 30px;
}

.aside__list__item {
  padding: 15px 30px;
  border-bottom: 1px solid #F2F2F2;
}

.aside__list__item:last-child {
  border: none;
}

.aside__item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}

.aside__item__title {
  font-size: 1.25rem;
  font-weight: 500;
}

.aside__list__icon__box {
  width: 36px;
  height: 36px;
}

.help__title {
  font-size: 1.25rem;
}

.help__btn {
  border-radius: 10px;
  color: #fff;
  background: radial-gradient(circle, rgb(255, 255, 255) -134%, rgb(103, 161, 255) 100%);
  line-height: 50px;
  width: 100%;
  font-weight: 700;
  margin-top: 30px;
}

.security__info {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 338px;
          flex: 0 1 338px;
  background: #fff;
  font-weight: 400;
  padding: 30px 0 30px 0;
  max-height: 622px;
}

.security__info__iconbox {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.security__info__title {
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 20px;
}

.security__info__desc {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
  line-height: 131%;
  padding: 20px 5px;
  border-bottom: 1px solid #f2f2f2;
}
.security__info__desc:last-of-type {
  border: none;
}

.security__info__costbox {
  border-radius: 100px;
  border: 1px solid #67a1ff;
  padding: 5px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto 0;
  color: #000;
}
.security__info__costbox.b-none {
  border: none;
}
.security__info__costbox.b-color {
  border-color: rgba(102, 21, 233, 0.6);
}
.security__info__costbox span {
  font-weight: 700;
}

.form {
  max-width: 710px;
  padding: 70px;
  background-color: #ffffff;
  border-radius: 40px;
  font-size: 1.25rem;
  position: relative;
}
@media (max-width: 768px) {
  .form {
    max-width: 100%;
    padding: 30px;
    font-size: 1rem;
  }
}

.form__title {
  text-align: center;
  font-size: 1.875rem;
}
@media (max-width: 768px) {
  .form__title {
    font-size: 2.14285rem;
  }
}

.form__desc {
  max-width: 85%;
  font-weight: 400;
  text-align: center;
  margin: 20px auto 0;
}

.btn-submit {
  line-height: 300%;
  margin-top: 50px;
  padding: 3px;
  width: 100%;
  color: white;
  background: radial-gradient(50% 50% at 50% 50%, rgb(120, 37, 255) 0%, rgb(102, 21, 233) 100%);
  border: none;
  border-radius: 10px;
}

.btn-submit:active {
  top: 0;
}

.form__desc + .input-control {
  margin-top: 40px;
}

.input-control {
  margin: 20px 0 0 0;
  color: #727272;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.input {
  border: 1px solid #ddd;
  border-radius: 10px;
  display: block;
  font-size: 2rem;
  padding: 13px 20px;
  margin-top: 15px;
}
@media (max-width: 600px) {
  .input {
    margin-top: 10px;
  }
}

.eye {
  position: absolute;
  top: 60px;
  right: 20px;
}
@media (max-width: 1024px) {
  .eye {
    top: 57px;
  }
}
@media (max-width: 768px) {
  .eye {
    top: 53px;
  }
}
@media (max-width: 600px) {
  .eye {
    top: 50px;
  }
}

.input:focus {
  outline: none;
}

.password__forgot {
  display: inline-block;
  margin-top: 20px;
  font-size: 1rem;
  color: #727272;
  font-weight: 400;
  font-size: 1rem;
  line-height: 131%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.privacy {
  max-width: 85%;
  margin: 20px auto 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
}
@media (max-width: 768px) {
  .privacy {
    font-size: 0.9rem;
  }
}

.verification__form .btn {
  max-width: 60%;
  border-radius: 10px;
  color: #fff;
  background: radial-gradient(circle, rgb(255, 255, 255) -134%, rgb(103, 161, 255) 100%);
  line-height: 50px;
  width: 100%;
  font-weight: 700;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .verification__form .btn {
    max-width: 100%;
    font-size: 1.14285rem;
  }
}
@media (max-width: 425px) {
  .verification__form .btn {
    font-size: 1rem;
  }
}

.input__date {
  position: relative;
}

.calendar__container {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.security__data {
  background-color: #fff;
  width: 100%;
  padding: 30px;
  text-align: start;
}
.security__data > * {
  font-weight: 500;
}

.security__data.loader__card {
  padding-bottom: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.security__data__control {
  font-size: 0;
}
.security__data__control .security__data__btn {
  margin-right: 10px;
}

.security__data__btn {
  background: none;
  border: none;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.security__data__title {
  font-size: 1.5625rem;
  line-height: 1.5625rem;
  margin-top: 40px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .security__data__title {
    font-size: 1.42857rem;
    margin-top: 20px;
  }
}

.security__data__desc {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
}

.security__form {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
}
@media (max-width: 600px) {
  .security__form {
    margin-top: 40px;
  }
}
.security__form .input-control {
  margin: 0;
}

.btn-submit {
  margin-top: 5px;
  font-weight: 700;
  background: radial-gradient(circle, rgb(255, 255, 255) -134%, rgb(103, 161, 255) 100%);
  font-size: 1rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .btn-submit {
    margin-top: 10px;
    font-size: 1.14285rem;
  }
}
@media (max-width: 425px) {
  .btn-submit {
    font-size: 1rem;
  }
}

.btn-request {
  max-width: 50%;
}
.btn-request span::after {
  content: url("../images/plus.png");
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  margin-left: 10px;
}
@media (max-width: 600px) {
  .btn-request {
    max-width: 100%;
  }
}

.security__form__control {
  font-size: 1.25rem;
  font-weight: 500;
}
.security__form__control label {
  display: block;
  color: #000000;
}
.security__form__control input {
  width: 100%;
  outline: none;
  padding: 22px 20px;
  font-size: 1rem;
  font-weight: 400;
}
.security__form__control input::-webkit-input-placeholder {
  color: #727272;
}
.security__form__control input::-moz-placeholder {
  color: #727272;
}
.security__form__control input:-ms-input-placeholder {
  color: #727272;
}
.security__form__control input::-ms-input-placeholder {
  color: #727272;
}
.security__form__control input::placeholder {
  color: #727272;
}
@media (max-width: 768px) {
  .security__form__control input {
    font-size: 1.14285rem;
  }
}
@media (max-width: 768px) {
  .security__form__control {
    font-size: 1.14285rem;
  }
}

input[type=tel] {
  padding: 22px 20px 22px 65px;
  position: relative;
}
input[type=tel] ::-webkit-input-placeholder::before {
  content: url("../images/select-num.png");
}
input[type=tel] ::-moz-placeholder::before {
  content: url("../images/select-num.png");
}
input[type=tel] :-ms-input-placeholder::before {
  content: url("../images/select-num.png");
}
input[type=tel] ::-ms-input-placeholder::before {
  content: url("../images/select-num.png");
}
input[type=tel] ::placeholder::before {
  content: url("../images/select-num.png");
}

.number__select__menu {
  display: none;
  position: absolute;
  top: 54px;
  left: 20px;
  width: 25px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  z-index: 1;
  outline: none;
}
.number__select__menu li + li {
  margin-top: 10px;
}
.number__select__menu.active {
  display: block;
}
@media (max-width: 600px) {
  .number__select__menu {
    top: 50px;
  }
}

.number__select__item {
  cursor: pointer;
}

.selected-flag {
  position: absolute;
  z-index: 4;
  left: 20px;
  top: 55%;
  width: 25px;
  height: auto;
  cursor: pointer;
}
.selected-flag::after {
  content: url("../images/select-num.png");
  position: absolute;
  top: -2px;
  right: -8px;
}

@media (max-width: 1200px) {
  .security__form {
    grid-template-columns: 1fr;
  }
}
.grid.bank {
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  max-width: 492px;
}
@media (max-width: 600px) {
  .grid.bank {
    gap: 20px;
  }
}

.bank__info .security__data__title {
  margin-top: 20px;
}
.bank__info fieldset {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #727272;
  margin-top: 30px;
  padding: 0;
}
@media (max-width: 600px) {
  .bank__info fieldset {
    margin-top: 15px;
  }
}

.custom__radio__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  gap: 15px;
}

.real__radio {
  width: 22px;
  height: 22px;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.custom__radio {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #67a1ff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22px;
          flex: 0 0 22px;
}

.custom__radio::before {
  content: url("../images/checkbox.png");
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: ease-in 0.1s;
  transition: ease-in 0.1s;
}

.real__radio:checked + .custom__radio {
  position: relative;
  background: radial-gradient(circle, rgb(255, 255, 255) -134%, rgb(103, 161, 255) 100%);
}

.real__radio:checked + .custom__radio::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.bank .custom-datalist {
  width: 100%;
}

.data__list {
  font-weight: 400;
  font-size: 1.125rem;
  color: #727272;
  margin-top: 30px;
}
@media (max-width: 600px) {
  .data__list {
    margin-top: 15px;
  }
}
.data__list > li + li {
  margin-top: 20px;
}
@media (max-width: 600px) {
  .data__list > li + li {
    margin-top: 10px;
  }
}

.data__item::before {
  content: url("../images/check-user.png");
  margin-right: 20px;
}

.data__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 600px) {
  .data__item {
    font-size: 1rem;
  }
}

.data__item__link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.payment__info {
  margin-top: 50px;
}
.payment__info > * + * {
  margin-top: 30px;
}
@media (max-width: 600px) {
  .payment__info {
    margin-top: 40px;
  }
}

.card__info > * + * {
  margin-top: 20px;
}

.card__title {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .card__title {
    font-size: 1.14285rem;
  }
}

.card__number {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
}
@media (max-width: 768px) {
  .card__number {
    font-size: 1.14285rem;
  }
}

.bank__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

.icon__box {
  width: 33px;
  height: 33px;
}

.bank__name {
  font-size: 1rem;
  font-weight: 500;
}

.payment__form {
  margin-top: 30px;
}
.payment__form .btn {
  width: 200px;
}
@media (max-width: 600px) {
  .payment__form .btn {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .payment__form .btn {
    font-size: 1rem;
  }
}
.payment__form .input-control {
  margin-top: 0;
}

.return-conf__form .btn {
  width: 78%;
  margin-top: 20px;
}
@media (max-width: 600px) {
  .return-conf__form .btn {
    width: 100%;
  }
}

input[name=payment-sum]::-webkit-input-placeholder {
  font-weight: 400;
}

input[name=payment-sum]::-moz-placeholder {
  font-weight: 400;
}

input[name=payment-sum]:-ms-input-placeholder {
  font-weight: 400;
}

input[name=payment-sum]::-ms-input-placeholder {
  font-weight: 400;
}

input[name=payment-sum]::placeholder {
  font-weight: 400;
}

input[name=payment-sum] {
  font-weight: 700;
  color: #000000;
}

.payment__form__buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}
@media (max-width: 600px) {
  .payment__form__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.payment-reason-cancle__list {
  font-size: 1.125rem;
  font-weight: 400;
  color: #727272;
}
@media (max-width: 600px) {
  .payment-reason-cancle__list {
    font-size: 1rem;
  }
}
.payment-reason-cancle__list > * + * {
  margin-top: 15px;
}
@media (max-width: 600px) {
  .payment-reason-cancle__list > * + * {
    margin-top: 10px;
  }
}

.payment-reason-cancle__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.payment-reason-cancle__item textarea {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  padding: 25px 20px;
  font-size: 1rem;
  outline: none;
}

.real-radio {
  width: 20px;
  height: 20px;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.custom-radio {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19px;
          flex: 0 0 19px;
  display: inline-block;
  vertical-align: text-top;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid #67a1ff;
  margin-right: 15px;
  position: relative;
}

.custom-radio::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: ease-in 0.1s;
  transition: ease-in 0.1s;
}

.real-radio:checked + .custom-radio {
  background: #67a1ff;
}

.real-radio:checked + .custom-radio::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.ticket-info {
  margin-top: 20px;
}
.ticket-info input {
  opacity: 0;
  text-wrap: wrap;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.ticket__download__label {
  margin-top: 20px;
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  border: 1px dashed #ddd;
  text-align: center;
  position: relative;
}
.ticket__download__label::before {
  content: url("../images/file-upload.png");
  -webkit-transition: 5s;
  transition: 5s;
}
.ticket__download__label:hover::before {
  content: url("../images/file-upload-hover.png");
}
.ticket__download__label:hover {
  border: 1px solid #ddd;
}

.payment__info__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.payment__info__file::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ddd;
  border-radius: 50px;
  background-image: url("../images/close-2.png");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.card__info + .btn__payment-success {
  margin-top: 50px;
  width: 50%;
}
@media (max-width: 600px) {
  .card__info + .btn__payment-success {
    width: 100%;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 25px;
  height: 25px;
}

.swiper-button-prev {
  left: 30px;
  top: 50px;
}

.swiper-button-next {
  left: 66px;
  top: 50px;
}

.swiper-button-next:after {
  content: url("../images/back-form.png");
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
  font-size: 0;
}

.swiper-button-prev::after {
  content: url("../images/back-form.png");
  font-size: 0;
}

.profile__info {
  margin-top: 50px;
  border-top: 1px solid #f2f2f2;
}
.profile__info > div {
  border-bottom: 1px solid #f2f2f2;
  padding: 20px 0;
}
.profile__info > div:last-child {
  border: none;
}
.profile__info .grid {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1200px) {
  .profile__info .grid {
    grid-template-columns: 1fr;
  }
}
.profile__info button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;
  max-width: 50%;
}
@media (max-width: 1024px) {
  .profile__info button {
    max-width: 100%;
  }
}

.profile__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.profile__box__img {
  width: 4.3125rem;
  height: 4.3125rem;
  border-radius: 100%;
  background: radial-gradient(circle, rgb(255, 255, 255) -134%, rgb(103, 161, 255) 100%);
  color: #fff;
  text-align: center;
  line-height: 4.3125rem;
  font-size: 1.875rem;
  text-transform: uppercase;
  position: relative;
}
.profile__box__img::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border: 1px solid #fff;
  border-radius: 100%;
  background-color: #5EC221;
  position: absolute;
  right: 2px;
  top: 2px;
}

.profile__title {
  font-size: 1.25rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .profile__title {
    font-size: 1.14285rem;
  }
}

.grid .profile__user__info {
  margin-top: 25px;
}
.grid .profile__user__info.link {
  margin-top: 15px;
}
@media (max-width: 600px) {
  .grid .profile__user__info {
    margin-top: 10px;
  }
}

.profile__user__info {
  font-size: 1rem;
  color: #727272;
  margin-top: 15px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.profile__user__info span {
  width: 25px;
  height: 25px;
  display: inline-block;
}
.profile__user__info.link {
  font-weight: 400;
  border-radius: 100px;
  border: 1px solid #F2F2F2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 20px;
}

.profile__user__info__icon img {
  vertical-align: middle;
  margin-right: 15px;
}

.user__name {
  position: relative;
}
.user__name::after {
  content: url("../images/check-user.png");
  display: block;
  position: absolute;
  right: -35px;
  bottom: -2px;
}

.custom__checkbox__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.custom__checkbox__block label {
  font-size: 15px;
  font-weight: 400;
  line-height: 133%;
  margin-left: 20px;
  color: #727272;
}

.custom__checkbox {
  opacity: 0;
}
.custom__checkbox + label {
  cursor: pointer;
}

.custom__checkbox + label::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  background: radial-gradient(circle, rgb(255, 255, 255) -134%, rgb(103, 161, 255) 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.custom__checkbox:checked + label::before {
  content: url("../images/checkbox.png");
}

.keywords__settings__block {
  margin-top: 30px;
}
.keywords__settings__block > * + * {
  margin-top: 50px;
}
@media (max-width: 600px) {
  .keywords__settings__block > * + * {
    margin-top: 30px;
  }
}
.keywords__settings__block .btn {
  margin-top: 50px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  max-width: 40%;
}
@media (max-width: 768px) {
  .keywords__settings__block .btn {
    max-width: 100%;
  }
}

.btn-request span::after {
  content: url("../images/plus.png");
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  margin-left: 10px;
}

.btn__block {
  width: 19px;
  height: 19px;
}

.profile__title-XL {
  font-size: 1.5625rem;
}
@media (max-width: 600px) {
  .profile__title-XL {
    font-size: 20px;
  }
}

.keywords__settings__nums {
  border-radius: 100px;
  background: radial-gradient(circle, rgb(255, 255, 255) -134%, rgb(103, 161, 255) 100%);
  margin-top: 20px;
  padding: 7px 20px;
  color: #fff;
  gap: 10px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
}
.keywords__settings__nums-auditories {
  background: radial-gradient(50% 50% at 50% 50%, rgb(120, 37, 255) 0%, rgb(102, 21, 233) 100%);
}
@media (max-width: 600px) {
  .keywords__settings__nums {
    margin-top: 10px;
  }
}

.keywords__settings__icon {
  font-size: 0;
  width: 24px;
  height: 24px;
}

.payment__timer {
  font-weight: 400;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media (max-width: 600px) {
  .payment__timer {
    font-size: 14px;
  }
}

.payment__timer__box {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

.payment__timer__icon-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.payment__timer__time {
  z-index: 3;
}

.payment__timer__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.payment__timer__icon-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(152deg, #90baff 0%, #67a1ff 100%);
  z-index: 0;
}

.payment__timer__icon-inner {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.payment__timer__desc {
  color: #727272;
}

.notices {
  margin-top: 30px;
}
.notices + .btn {
  margin-top: 50px;
  width: 40%;
}
@media (max-width: 600px) {
  .notices + .btn {
    width: 100%;
  }
}

.notice {
  padding: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.notice-warrning {
  background-color: #f2f7ff;
}
.notice-notification {
  background-color: #fff2f2;
  margin-top: 20px;
}
.notice-success {
  background-color: #f2fceb;
}

.notice__content > * + * {
  margin-top: 10px;
}

.notice__imagebox {
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
}

.notice__title {
  font-size: 1.125rem;
  font-weight: 500;
}

.notice__desc {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
  line-height: 131%;
}
@media (max-width: 600px) {
  .notice__desc {
    font-size: 14px;
  }
}

.footer {
  position: relative;
}

.footer__nav {
  padding: 15px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.footer__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.footer__nav__item {
  font-size: 1rem;
  font-weight: 500;
  line-height: 375%;
}

.license {
  padding: 30px 0;
  margin-top: 30px;
  color: #aeaeae;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.license::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #efefef;
  position: absolute;
  left: 0;
  bottom: 80px;
}

@media (max-width: 768px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .footer__nav__item {
    font-size: 1.14285rem;
  }
  .footer__nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5px 40px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 70%;
  }
}
.profile__footer {
  font-size: 1rem;
  font-weight: 500;
  color: #727272;
}
@media (max-width: 1024px) {
  .profile__footer {
    display: none;
  }
}

.profile__footer .footer__nav__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
}

.profile__footer .license {
  text-align: start;
  margin-top: 0;
}

.chat__box {
  width: 109px;
  height: 109px;
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1;
}

.mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: auto;
}
.mobile.open {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(33, 64, 113, 0.61);
  height: 100%;
}
@media (max-width: 1024px) {
  .mobile {
    display: block;
  }
}

.mobile-header {
  background: linear-gradient(152deg, #90baff 0%, #67a1ff 100%);
  color: #fff;
}
@media (max-width: 1024px) {
  .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 30px;
  }
}

@media (max-width: 1024px) {
  .container.container_mobile {
    display: none;
  }
}

.mobile-header__burger {
  width: 24px;
  height: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.line {
  display: block;
  height: 3px;
  background-color: #fff;
}
.line-top {
  width: 100%;
}
.line-center {
  width: 70%;
}
.line-bottom {
  width: 40%;
}

.mobile-header__burger.active .line-top {
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
.mobile-header__burger.active .line-center {
  background-color: transparent;
}
.mobile-header__burger.active .line-bottom {
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg);
  width: 100%;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  position: relative;
}

.mobile-header__logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin: 0 auto 0 60px;
}
@media (max-width: 600px) {
  .mobile-header__logo__container {
    margin: 0;
  }
}

.mobile__logo__icon__box {
  width: 26px;
  height: 26px;
}

.mobile__logo__title {
  line-height: 0;
  font-size: 16px;
}
@media (max-width: 600px) {
  .mobile__logo__title {
    font-size: 14px;
  }
}

.mobile__count__box {
  gap: 5px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(120, 37, 255) 0%, rgb(102, 21, 233) 100%);
  padding: 8px 16px;
  border-radius: 50px;
  margin: 0 60px 0 auto;
}
@media (max-width: 600px) {
  .mobile__count__box {
    margin: 0;
  }
}

.mobile__user-avatar-box {
  background-color: #fff;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.mobile__container {
  padding: 0 30px;
}

.mobile-menu {
  width: 85%;
  position: absolute;
  top: 60px;
  left: -85%;
  z-index: -1;
  overflow: auto;
}
.mobile-menu.open {
  display: block;
  left: 0;
  height: 100%;
}

.form__block {
  background-color: #ebf1ff;
}

.mobile__panel__form {
  padding: 30px 0;
}

.mobile__buttons__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.mobile__buttons__box .btn {
  width: 50%;
}
@media (max-width: 600px) {
  .mobile__buttons__box .btn {
    font-size: 1rem;
  }
}
.mobile__buttons__box .withdrawal {
  background: radial-gradient(50% 50% at 50% 50%, rgb(120, 37, 255) 0%, rgb(102, 21, 233) 100%);
}

.mobile__panel__inputbox {
  margin-top: 10px;
  position: relative;
}
.mobile__panel__inputbox input {
  padding: 12px 16px 12px 40px;
  border-radius: 20px;
  background: rgba(93, 153, 251, 0.13);
  border: none;
  outline: none;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
}

.inputbox__img__box {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.mobile__panel__content {
  background-color: #fff;
}

.mobile__block {
  padding: 30px;
  border-bottom: 1px solid #f2f2f2;
}
.mobile__block > * + * {
  margin-top: 15px;
}

.mobile__list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.mobile__list__link:hover, .mobile__list__link:focus {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.mobile__list__img__box {
  width: 26px;
  height: 26px;
}

.mobile__aside__title {
  font-size: 16px;
  font-weight: 500;
  color: #727272;
}
.mobile__aside__title:hover, .mobile__aside__title:focus {
  color: #000;
}

.mobile__footer {
  background-color: #fff;
  font-size: 14px;
  color: #727272;
  font-weight: 500;
}

.mobile__footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 30px;
}

.mobile__footer__license {
  font-size: 14px;
  font-weight: 400;
}/*# sourceMappingURL=keywords.css.map */
