
$font-weight-main: 700;
$font-weight-second: 500;
$font-weight-other: 800;
$font-weight-any: 400;

$color-main: #307eff;
$color-second: #67a1ff;
$color-text: #fff;
$color-text-secondary: #727272;

$gradient-bg: radial-gradient(50% 50% at 50% 50%, rgb(120, 37, 255) 0%, rgb(102, 21, 233) 100%);
$gradient-btn: radial-gradient(circle, rgba(255, 255, 255, 1) -134%, rgba(103, 161, 255, 1) 100%);
$gradient-btn-warning: radial-gradient(60.91% 58.88% at 50% 50%, rgb(255, 167, 167) 0%, rgb(255, 103, 103) 100%);

$repeat: no-repeat;
$flex: flex;
$grid: grid;
$center: center;

$brakepoint-xl: 1400px;
$brakepoint-lg: 1200px;
$brakepoint-md: 1024px;
$brakepoint-sm: 768px;
$brakepoint-xs: 600px;


